body{
    background-color: azure;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{

}

p{

}
ul{
    list-style-type: none;
}


li{
    font-weight: bold;
    color: darkred;
}
#projectsPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.card{
    border: 2px solid rgb(141, 71, 71);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(135, 222, 181);
}